.advantages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: @col-black;
}

.advantages__list-wrapper {
  background: @bg-lightgrey url("../img/bg-triangle-white.svg") no-repeat 100% 0;
  background-size: cover;
}

.advantages__post {
  display: flex;
  flex-direction: column;
  .fonts(300; 24px; normal);
  text-align: center;
  background-color: @bg-white;
  padding: 45px 0;
  width: auto;
}

.advantages__post-item {
  .inner(280px; 0);
}

.advantages__list {
  .inner(280px; 0);
  min-height: 380px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  margin-top: 0;
  padding: 85px 0 300px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 107%;
}

.advantages__item {
  .inner(280px; 0);
}

.advantages__title {
  .fonts(700; 18px; 24px);
  text-align: center;
}

.advantages__paragraph {
  .fonts(400; 14px; 24px);
  text-align: center;
}

.advantages__research {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    color: @col-black;
    margin-top: -20px;
    margin-left: 0;
  }

  .advantages__post {
    font-size: 40px;
    padding-top: 65px;
    padding-bottom: 85px;
  }

  .advantages__post-item {
    .inner(620px; 20px);

    &:nth-child(2) {
      width: 325px;
    }
  }

  .advantages__list {
    .inner(620px; 20px);
    align-items: flex-end;
    padding: 20px 20px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat 0 100%;
    z-index: 2;
  }

  .advantages__item {
    .inner(620px; 20px);

    &:nth-child(n) {
      width: 310px;
      margin-left: 275px;
    }
  }

  .advantages__research-wrapper {
    background-color: @bg-white;
  }

  .advantages__research {
    .inner(620px; 20px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: @bg-white;
    padding: 20px 20px;
  }

  .advantages__research-image {
    margin: 0 10px;
  }

  .advantages__research-title {
    display: flex;
    .fonts(700; 30px; 36px);
    color: @col-black;
    width: 200px;
  }

  .advantages__research-post {
    display: flex;
    .fonts(400; 14px; 24px);
    color: @bg-darkgrey;
    width: 300px;
  }

  .advantages__research-link {
    color: @col-red;
  }
}

@media (min-width: @desktop-width) {
  .advantages__post {
    font-size: 50px;
  }

  .advantages__post-item {
    &:nth-child(1) {
      width: 768px;
    }

    &:nth-child(2) {
      width: 460px;
    }
  }

  .advantages__research-wrapper {
    background-color: @bg-lightgrey;
  }

  .advantages__list {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .inner(890px; 0);
    background-image: none;
  }

  .advantages__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-top: 340px;

    &:nth-child(1) {
      background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat 50% 0;
      margin: 0;
    }

    &:nth-child(2) {
      background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat 50% 0;
      margin: 0;
    }

    &:nth-child(3) {
      background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat 50% 0;
      margin: 0;
    }
  }

  .advantages__title {
    width: 185px;
  }

  .advantages__paragraph {
    width: 215px;
    text-align: center;
  }

  .advantages__research {
    .inner(940px; 10px);
    margin-top: -20px;
    background-color: @bg-lightgrey;
  }

  .advantages__research-image {
    margin: 30px 20px;
  }

  .advantages__research-text {
    margin-left: 35px;
    margin-top: 100px;
  }

  .advantages__research-title {
    width: 311px;
  }

  .advantages__research-post {
    width: 560px;
  }
}
