.application-market {
  background-color: #1d2631;
  padding: 25px;
}

.application-market__button {
  width: 280px;
  .fonts(400; 18px; 18px);
  .link(#ffffff);
  text-transform: uppercase;
}

.application-market__list {
  list-style: none;
}

.application-market__item {
  .link(#ffffff);
}

.application-market__text {
  .fonts(300; 14px; auto);
  color: #ffffff;
}
