.button-list__logo {
  .link(@bg-white);
}

.button-list__logo-image {
  fill: @bg-white;

  &--ismobile {
    display: inline;
  }

  &--isdesktop,
  &--istablet {
    display: none;
  }

  &:focus,
  &:hover {
    fill: @col-red;
  }

  &:active {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.button-list {
  width: 280px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid @col-black;
  z-index: 2;
}

.button-list__toggle--nojs {
  display: none;
}

.button-list__toggle {
  padding: 0;
  margin-top: 6px;
  background-color: rgba(40, 54, 69, 0.3);
  border: none;
  outline: none;
  cursor: pointer;
}

.button-list__toggle-close,
.button-list__toggle-open {
  fill: @bg-white;

  &--opened {
    display: block;
  }

  &--closed {
    display: none;
  }

  &:focus,
  &:hover {
    fill: @col-red;
  }

  &:active {
    fill: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .button-list__logo-image {
    &--ismobile {
      display: none;
    }

    &--istablet {
      display: inline;
    }
  }

  .button-list {
    width: 620px;
    padding: 10px 20px 35px;
  }
}

@media (min-width: @desktop-width) {
  .button-list__logo-image {
    &--istablet {
      display: none;
    }

    &--isdesktop {
      display: inline;
    }
  }

  .button-list {
    width: 150px;
    margin-top: -6px;
    margin-left: 98px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .button-list__toggle {
    display: none;
  }
}
