.page-header {
  background-color: @bg-darkgrey;
}

.page-header__inner {
  display: flex;
  flex-direction: column;
  .inner(320px; 0);
}

.page-header__nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  &--closed {
    display: none;
  }
}

.page-header__nav-item {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .fonts(700; 18px; 32px);
  background-color: @bg-darkgrey;
  border-top: 1px solid #485471;
  border-bottom: 1px solid @col-black;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
}

.page-header__link {
  .link(@bg-white);
  padding: 15px 67px;

  &:focus,
  &:hover {
    color: @col-red;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .page-header__inner {
    .inner(660px; 0);
  }

  .page-header__nav-list {
    &--closed {
      display: none;
    }

    &--nojs {
      display: block;
    }
  }

  .page-header__nav-item {
    width: 660px;
  }

  .page-header__link {
    .link(@bg-white);
    padding: 15px 255px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }

  .page-header__inner {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    .inner(1180px; 10px);
    background-color: transparent;
  }

  .page-header__nav-list {
    display: flex;
    width: 700px;
    margin-top: -8px;
    margin-left: -7px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: transparent;
  }

  .page-header__nav-item {
    .fonts(400; 18px; 18px);
    margin: 0;
    padding: 0;
    border: none;
    text-transform: capitalize;
    background-color: transparent;

    &:nth-child(2) {
      margin-left: -12px;
    }

    &:nth-child(3) {
      margin-left: -12px;
    }
  }

  .page-header__link {
    padding: 30px 19px;
    background-color: transparent;

    &:active {
      color: rgba(255, 255, 255, 0.3);
      border-bottom: 2px solid @bg-white;
    }
  }
}
