.page-main {
  margin-top: -100px;
  display: flex;
  flex-direction: column;
}

.page-main__post-paragraph {
  background-color: @bg-white;
  .inner(250px; 0);
  .fonts(400; 14px; 30px);
  color: @bg-darkgrey;
  padding: 45px 30px;
  text-align: center;
}

.page-main__inner {
  background: @bg-darkgrey url("../img/bg-back-mobile@1x.jpg") no-repeat center -9px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-main__inner {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px 462px;
  }
}

.page-main__vrapper {
  background-color: @bg-white;
}

.page-main__title,
.page-main__title-photo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  .fonts(300; 24px; 30px);
  width: 280px;
  margin: 128px auto 50px;
  text-align: center;
  color: @bg-white;
}

@media (min-width: @tablet-width) {
  .page-main__inner {
    background: @bg-darkgrey url("../img/bg-back-tablet@1x.jpg") no-repeat center;
    padding-bottom: 32px;
    background-size: 660px auto;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__inner {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px 729px;
    }
  }

  .page-main__title-photo {
    margin-top: 87px;
    font-size: 50px;
    line-height: 58px;
    width: 620px;
    padding: 85px 0 60px 0;
  }

  .page-main__title {
    margin-top: 87px;
    font-size: 50px;
    line-height: 58px;
    width: 620px;
    padding: 85px 0 0 0;
  }

  .page-main__post-paragraph {
    .inner(440px; 0);
    font-size: 18px;
    padding: 90px 110px 78px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 365px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat center -9px;
    z-index: -1;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-main__inner {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px 853px;
    }
  }

  .page-main__vrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -9px;
    background-color: @bg-white;
  }

  .page-main__title {
    .inner(820px; 0);
    padding: 80px 0 0 87px;
  }

  .page-main__title-photo {
    .inner(350px; 0);
    margin-top: 85px;
    padding-left: 90px;
    text-align: center;
  }

  .page-main__post-paragraph {
    .inner(624px; 0);
    font-size: 18px;
    padding: 91px 0 91px 90px;
  }
}
